@tailwind base;
@tailwind components;
@tailwind utilities;

/*! purgecss start ignore */
@import "prism.css";
/*! purgecss end ignore */

/*Custom Styles Here*/

@font-face {
    font-family: Britanica;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("https://ik.imagekit.io/is20rnl48/Fonts/britanica-bold-semi-expanded-webfont.woff2?updatedAt=1708484470469") format("woff2");
  }
  .brita {
    font-family: Britanica, sans-serif !important;
  }
  .dm-sans-med{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .dm-sans-bold{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

@font-face {
  font-family: 'Centima Pro Sans Bold';
  src: url('/Users/rodriguezmedia/Documents/GLZE 1/public/fonts/CentimaProSans-Bold.woff2') format('woff2'),
       url('/Users/rodriguezmedia/Documents/GLZE 1/public/fonts/CentimaProSans-Bold.woff') format('woff'),
       url('/Users/rodriguezmedia/Documents/GLZE 1/public/fonts/CentimaProSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.centima{
    font-family: "Centima Pro Sans Bold'", sans-serif !important;
}

@font-face {
  font-family: Impact;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://ik.imagekit.io/is20rnl48/Fonts/impact.ttf?updatedAt=1709340001508") format("truetype");
  src: url("https://ik.imagekit.io/is20rnl48/Fonts/impact-webfont.woff2?updatedAt=1709340009225") format("woff2");
}
.impact{
  font-family: Impact, sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.glide__bullet--active > span {
  background: black !important;
}

/* Custom Styles */

@keyframes infiniteScroll {
  0% {transform: translateX(0)}
  50% {transform: translateX(-100%)}
  100% {transform: translateX(0)}
}

.horizontal-scrolling-items {
  display: flex;
  width: 100%;
  animation-name: infiniteScroll;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative; /* Add this line */
}

@media (min-width: 768px) {
  /* Add this block */
.text-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px; /* Adjust as needed */
  height: 100%;
  background: linear-gradient(to left, #f4f0e6 0%, transparent 100%);
}
}

@font-face {
  font-family: IBMPlexSans-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/Users/rodriguezmedia/Documents/GLZE 1/public/fonts/IBMPlexSans-Regular.ttf") format("truetype");
}

// <uniquifier>: Use a unique and descriptive class name
// <uniquifier>: Use a unique and descriptive class name

.league-gothic-bold {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}